@font-face {
    font-family: mono;
    src: url(../fonts/JetBrainsMono-Medium.ttf);
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: top;
    min-width: 100%;
    padding-top: 0;
    text-align: center;
    font-size: 44pt;
    font-family: "Verdana", "Tahoma", "sans-serif";
    font-weight: bold;
}

#header_img {
    width: 40%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*does not work */
@media screen and (max-width: 480px) {
    #footer_img {
        width: 100%;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


#wrapper {
    /*background: linear-gradient(to bottom, #FFFFFF, #ffffff, #c7b3ff) no-repeat;*/

    display: flex;
    flex-direction: column;
    height: 100%;
}


#content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    background: linear-gradient(to bottom, #FFFFFF, #ffffff, #c7b3ff)
}


#footer {
    background-color: #7b7bff;
    min-width: 100%;
    color: #FFFFFF;
    font-size: 120%;

    box-shadow: 0 -3px 10px 0 rgba(50, 50, 50, 0.75);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

#privacy {
    display: inline-block;
    color: #e5e5e5;
    text-decoration: none;
    cursor: pointer;
}

#privacy:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: #FFFFFF;
    transition: width .3s ease-in-out;
}

#privacy:hover:after,
#privacy:focus:after {
    width: 100%;
}