p.text {
    line-height: 30px;
}

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#content li {
    line-height: 30px;
}

#block {
    margin-left: 20%;
    margin-right: 20%;
}

#block .title {
    font-size: 18pt
}

#horiz_block {
    display: flex;
    justify-content: space-between;
}