body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #FFFFFF, #ffffff, #c7b3ff);
}

#header {
    display: inline-block;
    top: 0;
    min-width: 100%;
    text-align: center;
    font-size: 44pt;
    font-family: "Verdana", "Tahoma", "sans-serif";
    font-weight: bold;
}

#link_header {
    height: 100px;
    max-height: 100px;
    min-height: 50px;
    text-decoration: none;
}


#wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100%;
}

#content {
    flex-grow: 1;
}


ul {
    padding-left: 0;
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.social-icons {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 10px;
}

#copyright {
    text-align: center;
    vertical-align: center;
    margin-right: 50px;
}

#privacy {
    line-height: 1;
    display: inline-block;
    color: #e5e5e5;
    text-decoration:none;
    cursor: pointer;
}

#privacy:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: #FFFFFF;
    transition: width .3s ease-in-out;
}

#privacy:hover:after,
#privacy:focus:after {
    width: 100%;
}