body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: #9da2e7;
    background: linear-gradient(to right, #9da2e7, #c2f3ee);
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: top;
    min-width: 100%;
    padding-top: 0;
    text-align: center;
    font-size: 44pt;
    font-family: "Verdana", "Tahoma", "sans-serif";
    font-weight: bold;
}

#link_header {
    text-decoration: none;
}

#code {
    color: #e20000;
}
#mitry {
    color: #002cbe;
}

#privacy_body {
    font-size: 16pt;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
    box-shadow: 0 0 5px 2px;
}

#privacy_content {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 5% 3% 3% 5%;
    font-family: "Times New Roman", serif ;
}

ul {
    padding-left: 0;
    list-style-position: inside;
}

li {
    padding-left: 40px;
}


#footer {
    background-color: #7b7bff;
    min-width: 100%;
    height: 50px;
    color: #FFFFFF;
    font-size: 120%;
    vertical-align: bottom;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icons {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 10px;
}

#copyright {
    text-align: center;
    vertical-align: center;
    margin-right: 50px;
}

#privacy {
    display: inline-block;
    color: #e5e5e5;
    text-decoration:none;
    cursor: pointer;
}

#privacy:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: #FFFFFF;
    transition: width .3s ease-in-out;
}

#privacy:hover:after,
#privacy:focus:after {
    width: 100%;
}