#privacy_body {
    font-size: 16pt;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
    box-shadow: 0 0 5px 2px;
}

#privacy_content {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 5% 3% 3% 5%;
    font-family: "Times New Roman", serif ;
}

ul {
    padding-left: 0;
    list-style-position: inside;
}

li {
    padding-left: 40px;
}