@import './../_variables.scss', './../App.module';

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .contactContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    height: 100%;
  }

  .contactBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .classicButton {
      h3 {
        font-size: calc(1vw + 1em);
      }
    }

    @media (max-width: 530px) {
      flex-direction: column;
    }

    .classicButton {
      a {
        text-decoration: none;
      }
    }
  }

  .ctaText {
    text-align: center;
    color: $white;
    font-size: calc(1vw + 2em);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    margin: 20px;
  }
}