.container {
  margin: 0 10%;
}
.container a {
  text-decoration: none;
}

.root {
  overflow: hidden;
}

.carousel [class^=swiper-button-]::after {
  font-size: calc(1vw + 0.8em);
}
.carousel [class^=swiper-button-] {
  width: calc(1vw + 2.5em);
}

.workCaseImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 0;
}

.animatedH2 {
  color: #FFCC00;
  font-weight: 300;
  font-style: italic;
  text-transform: uppercase;
  font-size: calc(1vw + 3em);
  white-space: nowrap;
}

.contrastText {
  color: #FFCC00;
}

.scrollToTop {
  cursor: pointer;
  position: fixed;
  z-index: 1001;
  width: calc(1vw + 1.5em);
  height: calc(1vw + 1.5em);
  margin: 8px;
  bottom: 40px;
  right: 5%;
  color: #E5E5E5;
  animation: fading 0.5s linear alternate;
  transition: 100ms color ease-out;
}
@media (max-width: 450px) {
  .scrollToTop {
    top: 40px;
    right: -3%;
    transform: translate(-50%, -50%);
  }
}
.scrollToTop:hover {
  color: #EFCB86;
}

.classicButton {
  border: none;
  border-radius: 30px;
  background-color: #E5E5E5;
  margin: 20px;
  padding: 0 30px;
  height: 5em;
  box-shadow: #333333 0px 10px 50px -10px;
}
.classicButton h3 {
  color: #232323;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
  font-size: calc(1vw + 1.2em);
}
.classicButton:hover {
  cursor: pointer;
  background-color: #EFCB86;
  transition: background-color 0.5s ease-out;
}
@media (max-width: 820px) {
  .classicButton {
    height: 4em;
  }
}
@media (max-width: 550px) {
  .classicButton {
    height: 3.5em;
  }
  .classicButton h3 {
    font-size: calc(1vw + 0.65em);
  }
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.65;
  }
  90% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.85;
  }
}
.areasBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.areasBlock .areaPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.areasBlock .areaPopup .classicButton {
  background-color: #EFCB86;
}
.areasBlock .areaPopup .classicButton:hover {
  background-color: #FFCC00;
  transition: background-color 0.5s ease-out;
}
.areasBlock .areaPopup .classicButton:hover h3 {
  color: #FFF;
  transition: color 0.5s ease-out;
}
.areasBlock .areaPopup .subArea {
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  top: 6rem;
  background-color: #E5E5E5;
  opacity: 0.85;
  border-radius: 30px;
  padding: 8px 10px;
  margin: 0 20px 0 20px;
  animation: fading 0.4s linear alternate;
}
.areasBlock .areaPopup .subArea .innerSubArea {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
.areasBlock .areaPopup .subArea .innerSubArea::-webkit-scrollbar {
  width: 7px;
  border-radius: 100px;
}
.areasBlock .areaPopup .subArea .innerSubArea::-webkit-scrollbar-track {
  margin: 10px;
  border-radius: 100px;
  background-color: transparent;
}
.areasBlock .areaPopup .subArea .innerSubArea::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  background-color: #CCCCCC;
}
@media (max-width: 820px) {
  .areasBlock .areaPopup .subArea {
    top: 5rem;
  }
}
.areasBlock .areaPopup .subArea li {
  color: #232323;
  list-style: none;
  padding: 8px 8px 8px 20px;
  font-size: calc(1vw + 0.4rem);
}

/*# sourceMappingURL=ActivityAreas.module.css.map */
