@import '../../variables', '../../App.module';

.areasBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .areaPopup {
    position: relative;

    .classicButton {
      background-color: $light-yellow;

      &:hover {
        background-color: $yellow;
        transition: background-color $medium-transition-dur ease-out;

        h3 {
          color: $white;
          transition: color $medium-transition-dur ease-out;
        }
      }
    }

    .subArea {
      position: absolute;
      z-index: 1000;
      top: 6rem;
      width: calc(5vw + 4em);

      @media (max-width: 820px) {
        top: 5rem;
      }

      background-color: $light-gray;
      opacity: $opacity;
      border-radius: $rounded-border-radius;

      padding: 8px 10px;
      margin: 0 20px 0 20px;

      animation: fading 0.4s linear alternate;

      li {
        //cursor: pointer;
        color: $black;
        list-style: none;
        padding: 8px 8px 8px 20px;
        //transition: $fast-transition-dur color ease-out;
        font-size: calc(1vw + 0.4rem);

        //&:hover {
        //  color: $yellow;
        //}
      }
    }

  }
}
