@import './../_variables.scss';

.root {
  height: 100vh;
  overflow: hidden;

  h2 {
    color: $yellow;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    font-size: calc(1vw + 3em);
    white-space: nowrap;
  }

  .header {
    font-size: calc(1vw + 1.2em);
    font-weight: 400;
    color: $white;
    text-align: center;
  }

  .workCaseHeader {
    font-size: calc(1vw + 0.8em);
    font-weight: 300;
    color: $purple;
    text-align: start;
  }

  p {
    color: $white;
    font-size: calc(1vw + 0.6em);
    font-weight: 300;
    font-style: italic;
    text-align: start;
  }
}
