@import './scss/_variables';

html {
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(1vw + 0.6em);
  background-color: $dark;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@media (pointer: fine) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: $dark;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $purple;
  }
}
