$dark: #333333;
$black: #232323;
$white: #FFF;
$yellow: #FFCC00;
$light-gray: #E5E5E5;
$light-yellow: #EFCB86;
$disabled-color: #CCCCCC;

$rounded-border-radius: 30px;

$opacity: 0.85;
$box-shadow: $dark 0px 10px 15px -10px;

$fast-transition-dur: 100ms;
$medium-transition-dur: 0.5s;
