@import './_variables';

.container {
  height: 100vh;
  margin: 0 10%;
}

.root {
  overflow: hidden;
}

.animatedH2 {
  color: $yellow;
  font-weight: 300;
  font-style: italic;
  text-transform: uppercase;
  font-size: calc(1vw + 3em);
  white-space: nowrap;
}

.contrastText {
  color: $yellow;
}

.scrollToTop {
  cursor: pointer;
  position: fixed;
  z-index: 1001;
  width: calc(1vw + 1.5em);
  height: calc(1vw + 1.5em);
  margin: 8px;

  bottom: 40px;
  right: 5%;

  color: $light-gray;

  animation: fading $medium-transition-dur linear alternate;
  transition: $fast-transition-dur color ease-out;

  @media (max-width: 450px) {
    top: 40px;
    right: -3%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    color: $light-yellow;
  }
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.65;
  }
  90% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.85;
  }
}
