@import './_variables';

.root {
  width: 100vw;
  height: 100vh;
}

.container {
  height: 100vh;
  margin: 0 10%;
}

.logo {
  width: calc(1vw + 3em);
  height: calc(1vw + 3em);
  margin: 40px 0;
}

.hiText {
  color: $white;
  font-size: calc(1vw + 3em);
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

.contrastText {
  color: $yellow;
}

.arrowDown {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;

  height: calc(1vw + 5rem);
  min-width: 80px;
  margin: 20px 0;
}

.bottomMenuButtons {
  position: fixed;
  bottom: 20px;
  right: 10%;

  @media (max-width: 450px) {
    left: 10%;
  }

  display: flex;
  align-items: flex-end;

  button {
    border: none;
    border-radius: $rounded-border-radius;
    background-color: $light-gray;
    margin: 20px;
    padding: 0 30px;
    height: 4em;
    transition: 0s box-shadow, transform;

    h2 {
      color: $black;
      margin: 0;
      font-family: "Space Grotesk", sans-serif;
      font-weight: 700;
      font-size: calc(1vw + 0.6rem);
    }
  }

  button:hover {
    cursor: pointer;
    transform: scale(110%);
    transition: transform 0.5s ease-out;
    box-shadow: $yellow 0px 10px 20px -10px;
  }

  .menuButtonArea {
    display: flex;
    flex-direction: column;

    .menuOptions {
      background-color: $light-gray;
      opacity: $opacity;
      border-radius: $rounded-border-radius;

      padding: 8px 20px;
      margin: 20px 20px 0 20px;

      li {
        color: $black;
        list-style: none;
        padding: 8px 8px;
        transition: 0s color;

        &:hover {
          color: $yellow;
          transition-delay: 1ms;
        }
      }

    }

  }

  .menuButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burgerMenu {
    display: inline-block;
    vertical-align: middle;
    width: calc(1vw + 1em);
    height: calc(1vw + 1em);
    margin-left: 20px;
  }
}

.parallax {
  div {
    position: static !important;
  }
}
